server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: beneficiaire-service
          uri: lb://BENEFICIAIRE-SERVICE
          predicates:
            - Path=/api/beneficiaires/**
          filters:
            - RewritePath=/api/beneficiaires/(?<segment>.*), /$\{segment}
        
        - id: virement-service
          uri: lb://VIREMENT-SERVICE
          predicates:
            - Path=/api/virements/**
          filters:
            - RewritePath=/api/virements/(?<segment>.*), /$\{segment}
        
        - id: chatbot-service
          uri: lb://CHATBOT-SERVICE
          predicates:
            - Path=/api/chatbot/**
          filters:
            - RewritePath=/api/chatbot/(?<segment>.*), /$\{segment}
        
        - id: discovery-service
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/
        
        - id: discovery-service-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**
      
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
