server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/config-repo
          default-label: main
          search-paths: '{application}'
          
management:
  endpoints:
    web:
      exposure:
        include: health,info
